body{
	font-family:'open sans', sans-serif;
}

a {
	text-decoration: none;
	color: #EA4335;
}

a:hover {
  text-decoration: none;
	color: #EA4335;
}

a:visited {
  text-decoration: none;
	color: black;
}


.navbar-transparent {
    background-color: rgba(0, 149, 221, 0.4);

}

.nav.navbar-nav {
    color: black;
}
.photo{
float: left;
width: 20%;
}

.aircraftPic{
  position: center;
  padding: 10px;
  height: 300px;
  border-radius: 40px;
}




.spacer{
	height: 20vh;
}


.contenu {
  background: rgba(210, 209, 207, 0.9);
	/*background: rgba(0, 149, 221, 0.2);*/
	padding: 30px;
	width: 800px;
	margin: 0 auto;
	box-shadow: 2px 2px 3px #C1BDB4;

}

.header {
	text-align: center;
	margin: 30px;
}





.spacer2{
	padding-bottom: 2em;
}

.row{

	padding: 30px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

textarea {
    border: none;
    border-collapse:collapse;
   resize: none;
    margin: 0;
    padding: 0;
    width: 400px;
    border-radius: 7px;
}
