body{
	/*background-color: rgba(0, 149, 221, 0.7);*/
	color: #EA4335;
	background-image: url("../images/clouds.jpg");
	background-size: cover;
	font-family:'open sans', sans-serif;
	

}

a {
	text-decoration: none;
	color: #EA4335;
}

a:hover {
	color: #EA4335;
}

a:visited {
	color: #EA4335;
}

.navbar-transparent {
    background-color: rgba(0, 149, 221, 0.4);
}

.contenu {
	background: rgba(230,230,230,0.8);
	padding: 30px;
	width: 750px;
	margin: 20px auto;
	border-radius: 10px;
	box-shadow: 2px 2px 3px #C1BDB4;
}

.aircraft {
border-radius: 5%;
width: 75%;
height: auto;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 15px;
}

.wrapper{
	margin-top: 10em;
	margin-bottom: 30px;
	/*background-image: url("../images/clouds.jpg");*/
	height: 92vh;
	/*background-repeat: no-repeat; */
	/*background-size: cover;*/
	color: black;
	/*text-shadow: 2px 2px 5px rgba(0,0,0, 0.5);*/

}

.header {
	text-align: center;
	margin: 30px;
}

/*#footer{
	background-color: rgba(0, 149, 221, 0.4);
	height: 8vh;
    width: 100%;
} */



.spacer2{
	padding-bottom: 2em;
}

.row{

	padding: 30px;
}

.carousel-inner > .item > img {
    margin: 0 auto;
}

textarea {
    border: none;
    border-collapse:collapse;
   resize: none;
    margin: 0;
    padding: 0;
    width: 400px;
    border-radius: 7px;
}